.home-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 90px;
}

.home-container  a {
    display: block;
    text-decoration: none;
    width: 100%;
    background: #FFF;
    border-right: 10px solid #982BDD;
}

.home-container  a div {
    border-bottom: 4px solid #E5E5E5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 25px;
}

.home-container  a div h3 {
    font-size: 20px;
    color: #691C9B;
    margin-left: 22px;
}